@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600;700&display=swap');

/* **************************** Scroll Bar **************************** */

/* ::-webkit-scrollbar {
  width: 7px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primarywhite);
  border-radius: 2px;
} */

/* **************************** Selection **************************** */

/* ::selection {
  color: var(--primarywhite);
  background: var(--primarycolor);
} */

/* **************************** User Select None **************************** */

img,
object,
.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* **************************** Styles End **************************** */
